body { 
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

details > summary {
  padding: 10px;
  width: 100px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  color: aqua;
}

details > p {
  background-color: pink;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul{
list-style-type: none;
margin: 0px 0px 0px 0px;
}

ul li{
display: inline-block;
padding: 0px 0px 0px 0px;
margin: 0px 100px 0px 0px;
}

ul li a{
font-size: 20px;
font-family: Times New Roman;
text-decoration: none;
cursor: pointer;
padding: 10px 30px;
border: 2px solid aqua;
color: aqua;
background-color: white;
border-radius: 12px;
}

ul li a:hover{
background-color: black;
color: aqua;
transition-duration: 1.5s;
}

header {
width: 100%;
height: 150px;
text-align: center;
}

h1{
font-size: 50px;
color: white;
}

h1:hover{
color: aqua;
transition-duration: 1.5s;
}

p{
text-align: center;
text-align: justify;
text-align-last: center;
margin: 0 auto;
width: 30em;
padding: 0px 0px 0px 0px;
font-family: georgia;
color: white;
font-size: 40px;
}

h2{
font-size: 50px;
color: white;
text-align: center;
margin: 0;
}

h2:hover{
color: aqua;
transition-duration: 1.5s;
}

img {
width: 25%;
height: 25%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 20px 0px 0px 0px;
}